* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kodchasan', sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 2.5rem;
}

ul {
  display: flex;
  gap: 2em;
  list-style-type: none;
}

/* ul li{

} */

ul li a {
  text-decoration: none;
  font-size: 1.6em;
  color: rgb(22, 24, 117);
}

ul li a:hover {
  color: rgb(36, 39, 190);
  border-bottom: 1px solid rgb(22, 24, 117);
}

footer p {
  padding: 1.5rem 2.5rem;
}

/* Gallery layout  */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 1rem;
  background-color: aliceblue;
  min-height: 70vh;
}

.gallery.hide {
  display: none;
}

.character-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 0.5rem;
  box-shadow: 0 0 20px 8px #d0d0d0;
  border-radius: 0.25rem;
}

.card-header {
  padding: 0.5rem 0.25rem;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-header h3 {
  font-size: 1.1rem;
}

.frame {
  background-color: lightskyblue;
  width: 100%;
  height: 250px;
  border-radius: 0.25rem;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.like-btn {
  display: flex;
  align-items: center;
  padding: 0.3rem;
  min-width: 5rem;
  gap: 0.5rem;
  background: none;
  color: crimson;
  border: solid 1px #333;
  border-radius: 0.25em;
  cursor: pointer;
  transition: all 0.3s;
}

.like-btn:hover {
  box-shadow: 3px 5px 20px #d0d0d0;
}

.like-btn:active i {
  transform: scale(1.4);
}

.like-counter {
  color: darkslateblue;
  font-weight: 700;
}

.comment-btn {
  margin: auto;
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: cornflowerblue;
  border: solid 1px cornflowerblue;
  color: white;
  border-radius: 0.25em;
  transition: all 0.3s;
}

.comment-btn:hover {
  background-color: white;
  color: cornflowerblue;
  box-shadow: 0 3px 10px 0.8px #a2a1a19c;
  transform: translateY(-3px);
}

/* Popup Section */

.popup {
  display: none;
}

.popup.active {
  display: block;
  flex-direction: column;
  background-color: blueviolet;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  padding: 0.5rem;
  overflow-y: scroll;
}

.popup .close-btn {
  font-size: 2.5em;
  font-weight: 900;
  position: absolute;
  top: 2em;
  right: 2em;
  color: rgb(255, 255, 255);
  background: none;
  border: none;
}

.popup .close-btn:hover {
  color: rgb(76, 22, 128);
  cursor: pointer;
  transition: 0.3s ease;
}

.popup-container {
  padding: 0 100px;
  width: 80%;
  margin-inline: auto;
  margin-top: 9%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 30px solid rgb(94, 22, 162);
  background-color: white;
}

.popup-content {
  margin: auto;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 30px;
  padding-top: 25px;
}

.popup-content h2 {
  text-align: center;
  font-size: 3em;
  font-weight: 900;
}

.popup-content h3 {
  font-size: 1.6em;
  font-weight: 900;
  text-align: center;
  margin-bottom: 20px;
}

.popup-content p {
  font-size: 1.2em;
  font-weight: bold;
}

.popup-img {
  padding-top: 15%;
  align-self: flex-start;
}

.description .label {
  font-size: 1.5em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form input[type="text"] {
  padding: 10px 10px;
  border: 2px solid black;
  border-radius: 7px;
  height: 40px;
  font-size: 1.5em;
}

form textarea {
  padding: 10px 10px;
  font-size: 1.5em;
  border: 2px solid black;
  border-radius: 7px;
  height: 100px;
}

form input[type="submit"] {
  padding: 10px 10px;
  font-size: 1.45em;
}

.new-comment {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2em;
}
